.outer-col-1 {
  width: calc(100% * 0.08333 - 10px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-2 {
  width: calc(100% * 0.16667 - 10px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-3 {
  width: calc(100% * 0.25 - 10px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-4 {
  width: calc(100% * 0.33333 - 10px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-5 {
  width: calc(100% * 0.41667 - 10px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-6 {
  width: calc(100% * 0.5 - 10px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-7 {
  width: calc(100% * 0.58333 - 10px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-8 {
  width: calc(100% * 0.66667 - 10px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-9 {
  width: calc(100% * 0.75 - 10px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-10 {
  width: calc(100% * 0.83333 - 10px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-11 {
  width: calc(100% * 0.91667 - 10px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-12 {
  width: calc(100% * 1 - 10px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 13px;
}

.primary-color {
  background-color: #9ec1f9;
}

.secondary-color {
  background-color: #092736;
}

.tertiary-color {
  background-color: #092736;
}

.accent-color {
  background-color: #092736;
}

.error-color {
  background-color: #092736;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  color: #092736;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark {
  background-color: #092736;
  color: #c1c1c1;
}

body.dark .col-1 {
  background-color: #444;
}

body.dark .col-2 {
  background-color: #444;
}

body.dark .col-3 {
  background-color: #444;
}

body.dark .col-4 {
  background-color: #444;
}

body.dark .col-5 {
  background-color: #444;
}

body.dark .col-6 {
  background-color: #444;
}

body.dark .col-7 {
  background-color: #444;
}

body.dark .col-8 {
  background-color: #444;
}

body.dark .col-9 {
  background-color: #444;
}

body.dark .col-10 {
  background-color: #444;
}

body.dark .col-11 {
  background-color: #444;
}

body.dark .col-12 {
  background-color: #444;
}

body.dark header {
  background-color: #092736;
}

body.dark header nav a:hover {
  color: #9ec1f9;
}

body.dark [class^="outer-col-"] {
  background-color: #18668d;
}

body.dark [class^="inner-col-"] {
  background-color: #18668d;
}

body.dark .btn-primary {
  background-color: #0d374c;
  color: #c1c1c1;
}

body.dark .btn-secondary {
  background-color: #cee0fc;
  color: #092736;
}

body.dark a {
  color: #c1c1c1;
}

a {
  text-decoration: none;
  color: #092736;
}

header {
  background-color: #9ec1f9;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  color: #9ec1f9;
}

header nav ul li a:hover {
  color: #f4f4f4;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

img {
  width: 100%;
}

.m-1 {
  margin: calc(1px * 4);
}

.mx-1 {
  margin: 0 calc(1px * 4);
}

.my-1 {
  margin: calc(1px * 4) 0;
}

.p-1 {
  padding: calc(1px * 4);
}

.px-1 {
  padding: 0 calc(1px * 4);
}

.py-1 {
  padding: calc(1px * 4) 0;
}

.g-1 {
  gap: calc(1px * 4) !important;
}

.m-2 {
  margin: calc(2px * 4);
}

.mx-2 {
  margin: 0 calc(2px * 4);
}

.my-2 {
  margin: calc(2px * 4) 0;
}

.p-2 {
  padding: calc(2px * 4);
}

.px-2 {
  padding: 0 calc(2px * 4);
}

.py-2 {
  padding: calc(2px * 4) 0;
}

.g-2 {
  gap: calc(2px * 4) !important;
}

.m-3 {
  margin: calc(3px * 4);
}

.mx-3 {
  margin: 0 calc(3px * 4);
}

.my-3 {
  margin: calc(3px * 4) 0;
}

.p-3 {
  padding: calc(3px * 4);
}

.px-3 {
  padding: 0 calc(3px * 4);
}

.py-3 {
  padding: calc(3px * 4) 0;
}

.g-3 {
  gap: calc(3px * 4) !important;
}

.m-4 {
  margin: calc(4px * 4);
}

.mx-4 {
  margin: 0 calc(4px * 4);
}

.my-4 {
  margin: calc(4px * 4) 0;
}

.p-4 {
  padding: calc(4px * 4);
}

.px-4 {
  padding: 0 calc(4px * 4);
}

.py-4 {
  padding: calc(4px * 4) 0;
}

.g-4 {
  gap: calc(4px * 4) !important;
}

.m-5 {
  margin: calc(5px * 4);
}

.mx-5 {
  margin: 0 calc(5px * 4);
}

.my-5 {
  margin: calc(5px * 4) 0;
}

.p-5 {
  padding: calc(5px * 4);
}

.px-5 {
  padding: 0 calc(5px * 4);
}

.py-5 {
  padding: calc(5px * 4) 0;
}

.g-5 {
  gap: calc(5px * 4) !important;
}

body.dark .btn-primary, body.dark .btn-secondary, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: 1px solid;
}

body.dark .btn-primary:hover, body.dark .btn-secondary:hover, .btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #cee0fc;
  color: #092736;
}

.btn-secondary {
  background-color: #092736;
  color: #9ec1f9;
}

@media (max-width: 640px) {
  .outer-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */